<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>placeholder_text_color</key>
	<string>0xb2b2b2</string>
	<key>page_bgColor</key>
	<string>0xf0f0f0</string>
	<key>textField_bgColor</key>
	<string>0xaaaaaa</string>
	<key>navibar_bg_color</key>
	<string>0x5677fc</string>
	<key>navibar_text_color</key>
	<string>0xffffff</string>
	<key>view_bg_color</key>
	<string>0xEEEEEF</string>
	<key>cell_separator</key>
	<string>0xe5e5e5</string>
	<key>font_little</key>
	<dict>
		<key>name</key>
		<string>Helvetica</string>
		<key>size</key>
		<integer>11</integer>
	</dict>
	<key>article_list_bar_writer_color</key>
	<string>0xd7d7d7</string>
	<key>font_middle</key>
	<dict>
		<key>name</key>
		<string>Helvetica</string>
		<key>size</key>
		<string>13</string>
	</dict>
	<key>font_normal_content_color</key>
	<string>0x3A3B36</string>
	<key>font_big</key>
	<dict>
		<key>name</key>
		<string>Helvetica</string>
		<key>size</key>
		<string>15</string>
	</dict>
	<key>font_normal</key>
	<dict>
		<key>name</key>
		<string>Helvetica</string>
		<key>size</key>
		<string>15</string>
	</dict>
	<key>font_topic_content</key>
	<dict>
		<key>name</key>
		<string>Helvetica</string>
		<key>size</key>
		<string>16</string>
	</dict>
	<key>font_comment_content</key>
	<dict>
		<key>name</key>
		<string>Helvetica</string>
		<key>size</key>
		<string>13</string>
	</dict>
	<key>font_title</key>
	<dict>
		<key>name</key>
		<string>Helvetica</string>
		<key>size</key>
		<string>16</string>
	</dict>
	<key>font_topic_title</key>
	<dict>
		<key>name</key>
		<string>Helvetica</string>
		<key>size</key>
		<string>15</string>
	</dict>
	<key>font_title_0</key>
	<dict>
		<key>name</key>
		<string>Helvetica</string>
		<key>size</key>
		<string>19</string>
	</dict>
	<key>tip_font</key>
	<dict>
		<key>name</key>
		<string>Helvetica</string>
		<key>size</key>
		<string>15</string>
	</dict>
	<key>font_unimportant_color</key>
	<string>0x949593</string>
	<key>font_title_0_color</key>
	<string>0x000000</string>
</dict>
</plist>
