<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>color_navibar_title</key>
	<string>0xFFFFFF</string>
	<key>color_navibar_bg</key>
	<string>0xEC4E44</string>
	<key>color_vc_view_bg</key>
	<string>0xf0f0f0</string>
	<key>color_small_title</key>
	<string>0x222222</string>
	<key>color_tabbar_tint</key>
	<string>0xe55933</string>
	<key>color_tabbar_bg</key>
	<string>0xf8f8f8</string>
	<key>color_smaller_title</key>
	<string>0x929292</string>
	<key>color_read_title</key>
	<string>0x808080</string>
	<key>color_sub_title</key>
	<string>0x808080</string>
	<key>color_placeholder</key>
	<string>0xb2b2b2</string>
	<key>color_green_button</key>
	<string>0x77cc33</string>
	<key>color_green_button_highlighted</key>
	<string>0x5bbb24</string>
	<key>color_red_button</key>
	<string>0xe53435</string>
	<key>color_red_button_highlighted</key>
	<string>0xd43131</string>
	<key>color_blue</key>
	<string>0x33b5e5</string>
	<key>color_segment_text_normal</key>
	<string>0xe55933</string>
	<key>color_segment_text_selected</key>
	<string>0xf8f8f8</string>
	<key>color_cell_background</key>
	<string>0xffffff</string>
	<key>color_cell_highlighted</key>
	<string>0xf5f5f5</string>
	<key>color_cell_separator</key>
	<string>0xdcdcdc</string>
	<key>color_list_update_tip_bg</key>
	<string>0x33b5e5,50</string>
</dict>
</plist>
